<!-- Interpolation -->
<!-- <h1>My name is {{name}}</h1> 
<h3>I m {{age}} years old</h3>
<h3>Male : {{isMale}}</h3> -->

<!-- Property Binding -->
<!-- <app-prop-bind></app-prop-bind> -->

<!-- Class Binding -->
<!-- <app-class-bind></app-class-bind> -->

<!-- Style Binding -->
<!-- <app-style-bind></app-style-bind> -->

<!-- Event Binding -->
<!-- <app-event-bind></app-event-bind> -->

<!-- Template Refernce -->
<!-- <app-temp-ref></app-temp-ref> -->

<!-- Two Way Bind -->
<!-- <app-two-way-bind></app-two-way-bind> -->

<!-- If Else Statment -->
<!-- <app-if-else-stat></app-if-else-stat> -->

<!-- Switch Case Statment -->
<!-- <app-switch-case></app-switch-case> -->

<!-- For Loop -->
<app-for-loop></app-for-loop>