<h3>Built In Pipes...</h3>

<p>{{name | lowercase}}</p>
<p>{{name | uppercase}}</p>

<p>{{title}}</p>
<p>{{title | titlecase}}</p>

<p>{{data}}</p>
<p>{{data | json}}</p>

<p>{{number}}</p>
<p>{{number |  number:'1.2-3'}}</p>
<p>{{number |  number:'2.3-4'}}</p>
<p>{{number |  number:'3.1-2'}}</p>

<p>{{number | percent}}</p>
<p>{{number | currency}}</p>
<p>{{number | currency:'EUR':'code'}}</p>

<p>{{date}}</p>
<p>{{date | date:'short'}}</p>
<p>{{date | date:'shortDate'}}</p>
<p>{{date | date:'shortTime'}}</p>